@rendermode InteractiveServer

@implements IDisposable
@inject ILocalStorageService LocalStorage
@inject CompanyOnSelectedNotification Notification

<header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box horizontal-logo">
                    <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="assets/images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="assets/images/logo-dark.png" alt="" height="17">
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="assets/images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="assets/images/logo-light.png" alt="" height="17">
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger material-shadow-none" id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>

                
            </div>

            <div class="d-flex align-items-center">

                <AuthorizeView>
                    <Authorized>
                        @if(hasCompanySelected){
                            <a href="/Company/List">
                                <div class="p-3">
                                <strong>@Company.LegalName</strong>
                                <br />
                                <small class="fs-10"><strong>CNPJ: </strong>@Company.TaxId</small>
                            </div>
                            </a>
                        }
                        <div class="dropdown ms-sm-3 header-item topbar-user">
                            <button type="button" class="btn material-shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-flex align-items-center">
                                    <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg" alt="Header Avatar">
                                    <span class="text-start ms-xl-2">
                                        <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">@context.User.Identity?.Name</span>
                                        <span class="d-none d-xl-block ms-1 fs-12 user-name-sub-text">Usuário</span>
                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <h6 class="dropdown-header">Bem-vindo @context.User.Identity?.Name!</h6>
                                <NavLink class="dropdown-item" href="Account/Manage">
                                    <i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Perfil</span>
                                </NavLink>
                                <form action="Account/Logout" method="post">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                    <button @onclick="CompanyDeselected" type="submit" class="dropdown-item">
                                        <i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> Sair
                                    </button>
                                </form>
                            </div>
                        </div>
                    </Authorized>

                </AuthorizeView>





            </div>
        </div>
    </div>
</header>

@code {
    private bool hasCompanySelected = false;
    private Company? Company;
    private string? currentUrl;

    protected override void OnInitialized()
    {
        Notification.OnCompanySelected += OnCompanySelected;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        OnCompanySelected();
        StateHasChanged();
    }

    private async void OnCompanySelected()
    {
        Company = await LocalStorage.GetItemAsync<Company>(AppConstants.LocalStorageCompany);
        hasCompanySelected = await LocalStorage.ContainKeyAsync(AppConstants.LocalStorageCompany);        
    }
    private async void CompanyDeselected()
    {
        var existCompany = await LocalStorage.ContainKeyAsync(AppConstants.LocalStorageCompany);
        if (existCompany)
        {
            await LocalStorage.RemoveItemAsync(AppConstants.LocalStorageCompany);
        }
    }
    public void Dispose()
    {
        Notification.OnCompanySelected -= OnCompanySelected;
    }
}